// Tableau10 colors
$color-blue: #4c78a8;
$color-orange: #f58518;
$color-red: #e45756;
$color-teal: #72b7b2;
$color-green: #54a24b;
$color-yellow: #eeca3b;
$color-purple: #b279a2;
$color-pink: #ff9da6;
$color-brown: #9d755d;
$color-grey: #bab0ac;

// Tableau20 colors
$color-ocean: #4c78a8;
$color-carrot: #f58518;
$color-roman: #e45756;
$color-succulent: #83bcb6;
$color-spinach: #54a24b;
$color-egg: #f2cf5b;
$color-grape: #b279a2;
$color-sakura: #fcbfd2;
$color-coffee: #9e765f;
$color-mist: #bab0ac;
$color-sky: #9ecae9;
$color-maccheese: #ffbf79;
$color-blush: #ff9d98;
$color-plum: #d67195;
$color-smoke: #79706e;
